node_modules/
.bundle/
.gradle/
.cxx/
build/
build-test/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
metro-test*.log
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
android/app/google-services.json
